.login-container { 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    .content { 
        display: grid;
        grid-template-rows: 1fr 3fr;
        width: 400px;
        background-color: white;
        padding: 20px;
        border-radius: 5px;

        .actions {
            display: flex;
            justify-content: space-around;
        }

        a { 
            align-self: center;
            justify-self: center;
            cursor: pointer;
            font-size: 1.5em;
        }
    }
}